ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code { font-size: 1em; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote,
fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0;
}
a img, :link img, :visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block;
}
mark {
  color: inherit;
  background-color: transparent;
}
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  /* border: 1px solid red; */
  text-align: center;
}

img {
  width: 50%;
}

span {
  color: #058ED9;
}

header, footer, main {
  /* text-align: center; */
  width: 100%;
  /* margin: 0 auto; */
  padding: 2rem 0;
  background: #25283D;
  color: #EBF2FA;
  /* border: 1px solid red; */

}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
}

main {
  background: #EBF2FA;
  color: #25283D;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

main .container {
  /* width: 50%; */
}

a {
  color: #EBF2FA;
  transition-duration: 500ms;
}

a:hover {
  background: #EBF2FA;
  color: #058ED9;
  transition-duration: 500ms;
}

ol {
  text-align: left;
}

ul {
  margin-top: 1rem;
}

ul li {
  display: inline-block;
  margin: 2rem;
}

ul li a {
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  background: #058ED9;
  color: #25283D;
  padding: 1rem;
  border-radius: .5rem;
}