@import url("whitespace-reset.css");

/* General */

/* #40a798 ds-plus */

html {
  font-size: 18px;
  /* font-family: "Lato", "Roboto", "Helvetica Neue", Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

#intro,
#projects,
#contact,
.intro-p-1,
.intro-p-2,
#tinker-info-container {
  opacity: 0;
  animation: a 0.5s cubic-bezier(0.64, 0.94, 0.23, 1.11);
  animation-fill-mode: forwards;
  color: #334252;
}

.intro-p-1 {
  animation-delay: 0.2s;
}

.intro-p-2 {
  animation-delay: 0.4s;
}

#contact,
#projects {
  animation-delay: 0.6s;
}

#tinker-info-container {
  animation-delay: 0.8s;
}

@-webkit-keyframes a {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes a {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes a {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*/ html {
  font-size: 18px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px 0;
}

#resume-btn:hover {
  color: #ffa466;
}

header {
  padding: 15px;
  position: fixed;
}

.profile-name {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 900;
}

#intro > h4 > img {
  display: inline-block;
  padding-right: 5px;
}

#contact h3 {
  color: #000000;
}

#projects > ul {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 75px;
}

#projects img {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 3px;
}

h4 {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 15px;
}

a.tinker {
  color: rgba(79, 70, 229);
  text-decoration: none;
}

#closer {
  font-size: 1rem;
  line-height: 4rem;
}

a.tinker:hover {
  font-weight: bold;
}

#tinker-highlight {
  color: white;
  text-decoration: none;
}

#tinker-highlight :hover {
  color: rgba(79, 70, 229);
  font-weight: bold;
}

li {
  margin: 0 2%;
  width: 25%;
}

section {
  padding: 4% 10%;
}

hr {
  border: 0;
  border-top: 1px solid #ecf0f1;
  width: 15%;
}

footer {
  background-color: #262626;
  padding: 25px 0;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.btn {
  background: #9f46e5;
  border-color: #9f46e5;
  color: #f7f7f7;
  box-shadow: 0 0 3px #9f46e5;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.icon {
  background-color: #113051;
  border-radius: 100%;
  margin: 2%;
  min-width: 34px;
  padding: 3px;
  width: 100%;
}

.btn:hover,
.icon:hover {
  background-color: rgba(79, 70, 229);
  border-color: rgba(79, 70, 229);
}

a.tinker:hover {
  color: rgba(79, 70, 229);
  font-weight: bold;
}

.horz-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.vert-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.logo-links {
  position: fixed;
  z-index: 1;
}

#logo {
  margin: 25px;
  opacity: 0.5;
  position: fixed;
  width: 60px;
}

/* ---------------------------------

               intro

------------------------------------ */

#avatar {
  display: block;
  max-width: 250px;
  min-width: 200px;
  object-fit: contain;
  border-radius: 100%;
}

#intro > p {
  text-align: center;
  width: 550px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 36px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#tinker {
  background-color: #468de5;
  overflow: hidden;
  padding-bottom: 0;
}

#tinker-info-container {
  margin-bottom: 5%;
  align-items: center;
}

#tinker-logo {
  display: inline-block;
  width: 60%;
  max-width: 250px;
  min-width: 200px;
}

#tinker-info-container {
  display: flex;
}

#tinker-info-container p {
  padding-top: 8%;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

#tinker h2 {
  display: inline-block;
}

*/ #tinker-info-container > div {
  width: 50%;
}

#tinker-info-container > div:first-of-type {
  margin-right: 2.5%;
}

#tinker-dashboard-gif {
  height: 450px;
  width: 793px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.8);
  opacity: 1;
}

#tinker-deploy-gif {
  height: auto;
  width: auto;
  position: relative;
  top: -270px;
  left: -305px;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
}

#gif-display-box {
  text-align: center;
  height: 500px;
}

#dashboard-link {
  margin: 0 auto;
}

#flex-wrap {
  display: flex;
  flex-flow: wrap;
}

#centered-div {
  margin: 0 auto;
}

.managing-apps {
  max-width: 100%;
}

div > iframe {
  max-width: 100%;
}

#tinker-info-container > div:last-of-type {
  margin-left: 2.5%;
}

#tinker-repo-btn {
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  margin-top: 25px;
  width: 228px;
  background-color: white;
  text-decoration: none;
  color: #468de5;
}

#tinker-repo-btn:hover {
  color: rgba(79, 70, 229);
}

#connect-buttons {
  /* display: inline-block; */
  margin-top: 30px;
  margin-bottom: 10px;
}

.connect {
  margin-top: 25px;
  width: 180px;
  /* margin-right: 10px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; */
}
/* ---------------------------------

              contact

------------------------------------ */

#resume-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 5px;
  left: 5px;
}

#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 55px;
  left: 5px;
}

#linkedin-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 105px;
  left: 5px;
}

#mail-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 155px;
  left: 5px;
}

#contact {
  padding-top: 50px;
  background: #f7f7f7;
}

#contact h3 {
  margin-bottom: 10px;
}

#contact ul {
  width: 20%;
}

#contact li {
  margin: 6%;
}

#emailad {
  text-decoration: none;
}

@media (max-width: 1100px) {
  h4 {
    font-size: 1.1rem;
  }

  #setup-command-gif {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  #logo {
    margin: 20px;
    width: 55px;
  }

  #projects p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  #closer {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  #tinker-deploy-gif {
    left: -250px;
  }
}

@media (max-width: 920px) {
  section {
    padding: 10% 5%;
  }

  li {
    margin-bottom: 100px;
    width: 100%;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  #projects p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  #projects > ul {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  #tinker-info-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  #tinker-info-container > div:first-of-type {
    margin-right: 0;
  }

  #tinker-info-container > div:last-of-type {
    margin-left: 0;
  }

  #tinker-info-container > div {
    width: 90%;
  }

  div > iframe {
    margin-bottom: 50px;
  }

  #contact ul {
    width: 30%;
  }

  #contact li {
    margin: 8%;
  }

  #tinker-deploy-gif {
    left: -195px;
  }

  #closer {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 690px) {
  #git-display-box {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #tinker-info-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
  }

  #gif-display-box {
    text-align: center;
    height: 400px;
  }

  #tinker-dashboard-gif {
    height: 350px;
    width: 550px;
  }

  #tinker-deploy-gif {
    position: absolute;
    height: 125px;
    top: 200px;
    left: 0px;
  }

  #contact li {
    margin: 15%;
  }

  #projects > ul {
    width: 100%;
  }

  #closer {
    line-height: 1.5rem;
  }

  ul.flexbox.vert-center li {
    margin-bottom: 20px;
  }
}

@media (max-width: 570px) {
  #intro > p {
    width: 100%;
  }

  h1 {
    font-size: 2.7rem;
    width: 80vw;
  }

  h2 {
    font-size: 1.9rem;
  }

  section {
    padding: 10% 15%;
  }

  #tinker-info-container {
    margin-top: 25px;
  }

  #projects > ul {
    width: 100%;
  }

  #gif-display-box {
    text-align: center;
    height: 470px;
  }

  #tinker-dashboard-gif {
    height: 275px;
    width: 440px;
  }

  #tinker-deploy-gif {
    position: inherit;
    height: 100px;
  }

  #contact li {
    margin: 15%;
  }

  #projects > ul {
    width: 100%;
  }

  #closer {
    line-height: 1.5rem;
  }

  ul.flexbox.vert-center li {
    margin-bottom: 20px;
  }
}

@media (max-width: 465px) {
  #gif-display-box {
    text-align: center;
    height: 350px;
  }

  #tinker-dashboard-gif {
    height: 200px;
    width: 300px;
  }

  #tinker-deploy-gif {
    position: inherit;
    height: 100px;
  }

  #contact li {
    margin: 15%;
  }

  #projects > ul {
    width: 100%;
  }

  #closer {
    line-height: 1.5rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 16px;
  }

  #gif-display-box {
    text-align: center;
    height: 350px;
  }

  #tinker-dashboard-gif {
    height: 200px;
    width: 300px;
  }

  #tinker-deploy-gif {
    position: inherit;
    height: 100px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #projects > ul {
    margin-top: 30px;
  }

  #projects li {
    margin-bottom: 30px;
  }

  #projects li:last-of-type {
    margin-bottom: 0;
  }

  #closer {
    line-height: 1.5rem;
  }
}
